# DB
POSTGRES_USER=ispuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ispdb

# JWT
JWT_SECRET=change_me

# MinIO
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}

# SmartOLT (si aplica)
SMARTOLT_TOKEN=
